{
  admin 0.0.0.0:2019 {
    origins https://caddy.htdom.local https://prometheus.htdom.local https://blackbox.htdom.local
  }
  metrics
}

blackbox.htdom.local {
  reverse_proxy http://blackbox.htdom.local:9115
  tls internal
}

caddy.htdom.local {
  handle /metrics* {
    reverse_proxy 127.0.0.1:2019
  }
  tls internal
}

grafana.htdom.local {
  reverse_proxy http://grafana.htdom.local:3000
  tls internal
}

loki.htdom.local {
  reverse_proxy http://loki.htdom.local:3100
  tls internal
}

oidc.htdom.local {
  reverse_proxy oidc:9091
  tls internal
}

prometheus.htdom.local {
  reverse_proxy http://prometheus.htdom.local:9090
  tls internal
}
