{
  admin 0.0.0.0:2019 {
    origins https://caddy.htdom.de https://prometheus.htdom.de https://blackbox.htdom.de
  }
  metrics
}

blackbox.htdom.de {
  reverse_proxy blackbox:9115
  tls internal
}

caddy.htdom.de {
  handle /metrics* {
    reverse_proxy 127.0.0.1:2019
  }
  tls internal
}

grafana.htdom.de {
  reverse_proxy grafana:3000
  tls internal
}

loki.htdom.de {
  reverse_proxy loki:3100
  tls internal
}

oidc.htdom.de {
  reverse_proxy oidc:9091
  tls internal
}

prometheus.htdom.de {
  reverse_proxy prometheus:9090
  tls internal
}
